.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
    /* padding: 0px 150px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -moz-user-select: none;   
    -ms-user-select: none;     
    user-select: none; 
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.smooth-fade {
    margin-left: -150px;
    margin-top: 4%;
    width: 400px;
    height: 600px;
    display: inline-block;
    z-index: 1;
    /* Allows the div behind to get selected instead */
    pointer-events: none;
}

.smooth-fade.left {
    visibility: hidden;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.62) 77%, rgba(255,255,255,0.42) 89%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(255,255,255,0.8)), color-stop(77%, rgba(255,255,255,0.62)), color-stop(89%, rgba(255,255,255,0.42)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.62) 77%, rgba(255,255,255,0.42) 89%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.62) 77%, rgba(255,255,255,0.42) 89%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.62) 77%, rgba(255,255,255,0.42) 89%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.62) 77%, rgba(255,255,255,0.42) 89%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.smooth-fade.right {
    /* Gradient */
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 11%, rgba(255,255,255,0.62) 23%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(11%, rgba(255,255,255,0.42)), color-stop(23%, rgba(255,255,255,0.62)), color-stop(47%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 11%, rgba(255,255,255,0.62) 23%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 11%, rgba(255,255,255,0.62) 23%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 11%, rgba(255,255,255,0.62) 23%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 11%, rgba(255,255,255,0.62) 23%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.cont {
    margin: 0px 150px;
    display: grid;
    grid-template-columns: 0 auto 0;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .cont {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        overflow: hidden;
    }

   .smooth-fade.left,.smooth-fade.right {
       visibility: hidden;
    }
  }